@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Oi&display=swap');

@font-face {
  font-family: 'CustomFont';

  src: url('../app/fonts/Oi/Oi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont1';

  src: url('../app/fonts/Marck_Script/MarckScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #2F2F2F;

}

h1 {
  font-family: 'CustomFont';
  font-weight: 400;

}

h6 {
  font-family: 'CustomFont1';
}

#Products:nth-child(3n+1) h5 {
  color: red;
}

#Products:nth-child(3n+2) h5 {
  color: blue;
}

#Products:nth-child(3n+3) h5 {
  color: orange;
}